<%- include('header') -%>
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    
   <!-- <% if (newListitem === "Saturday" || newListitem === "Sunday"){ %>
        <h1 style="color: purple" > <%= newListitem %> ToDo List</h1>
   <% }else{ %>
        <h1 style="color: blue;"><%= newListitem %> Todo List</h1>
   <% } %> -->
   <div class="box">
    
        <% for(var i = 0;i<newListitem.length;i++){ %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p><%= newListitem[i] %></p>
            </div>
        <% } %>

        <form action="/" class="item" method="post">
            <input type="text" name="newItem" id="" placeholder="New Item" autocomplete="off" autofocus>
            <button type="submit" name = "list" value =<%=listTitle %> > + </button> 
        </form>
   </div>
   
   <%- include('footer') -%>
   
   
